#botoes{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(4, auto); 
    gap: 10px; 
    max-width: 400px;
    margin: 0 auto; 
    align-items: center;
    justify-content: center;
}

#display{
    display: flex;
    max-width: 400px;
    margin: 0 auto; 
    align-items: center;
    justify-content: center;
}